@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@import "tailwindcss";
@plugin "daisyui";
:root {
  --background: #020a10;
  --foreground: #13c1fd;
  --gradient: #0a1c26;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-gradient: var(--gradient);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: monospace, Arial, sans-serif;
}
.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
.londrina {
  font-family: "Londrina Outline", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}

.animate-spotlight {
  animation: spotlight 2s ease 0.75s 1 forwards;
}
